/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.item-block {
  @apply w-56 h-64 bg-slate-50 border-solid border-gray-300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    min-height: 100vh;
    box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*,*::before,*::after {
	@apply font-['Mapo'] box-border;
}
@layer base{
	@font-face {
		font-family: 'euly';
		font-weight: 400;
		src: url('/assets/fonts/Eulyoo1945-Regular.otf')
	}
	@font-face {
		font-family: 'Mapo';
		font-weight: 400;
		src: url('/assets/fonts/MapoFlowerIsland.ttf')
	}
}

.shop__img {
	@apply relative w-[30%] h-[30%] font-[Mapo]
}
.star {
	@apply relative top-1/2 w-[4px] h-[4px] rounded-[50%] animate-meteorAnimate opacity-0 
	after:absolute after:top-[-1050%] after:left-[-1950%] after:w-[2500%] after:h-[2px] after:bg-[linear-gradient(to_left,#fff0,#fff)] 
	after:content-[""] after:rotate-[-125deg] 
	before:left-[-10px] before:top-[-10px] bottom-[-10px] right-[10px] before:absolute  before:w-[7px] before:h-[7px]
}
.star_ivory {
	@apply before:shadow-custom-ivory
}
.star_darkgoldenrod {
	@apply before:shadow-custom-darkgoldenrod 
}
.star_palevioletred {
	@apply before:shadow-custom-palevioletred  
}
.star_mediumslateblue {
	@apply before:shadow-custom-mediumslateblue
}